{% extends "layout.html" %}

{% block heading %}
<form class="nav-item active", action="{{ url_for('index') }}" method="GET">
  <button class="btn btn-primary btn-lg btn-block">Book Review Home page</button>
</form>
{% endblock %}

{% block body %}
  <h2>Please Login</h2>

    <p>
	   The trick to finding a good book to read is by taking time to read reviews
     from trusted sources who have top exposure.
     We can offer you all of that.
     Someone on our site have read any book you are looking for today
    and have  honestly review it.
     The review will be displayed on this website for potential interested buyers
      who love to read!
    </p>

    <div>
	    <form action="{{ url_for('validation') }}" method="post">
          <input type="text" name="email" placeholder="Enter email address">
          <input type="password" name="password" placeholder="Enter Your Password">
          <button type="submit" class="btn btn-primary btn-lg">login</button>
        </form>
    </div>

{% endblock %}
