{% extends "layout.html" %}

{% block heading %}
<form class="nav-item active", action="{{ url_for('index') }}" method="GET">
  <button class="btn btn-primary btn-lg btn-block">Book Review Home page</button>
</form>
    <form class="nav-item active", action="{{ url_for('signout') }}" method="post">
      <button class="btn btn-primary btn-lg btn-block">{{username}} Signout</button>
    </form>
{% endblock %}

{% block body %}

  <form action="{{ url_for('write') }}" method="post">
  <textarea name="review" rows="10" cols="50"></textarea>
  <button type="submit">Send review</button>

  {% endblock %}
